.messenger-icon {
  position: fixed; /* Fix position */
  bottom: 20px; /* Adjust distance from bottom */
  right: 20px; /* Adjust distance from right */
  z-index: 1000; /* Ensure it stays above other elements */
}

  .fa-icon {
    font-size: 4rem; /* Adjust icon size as needed */
     /* Adjust icon color as needed */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Add shadow */
  }
  
  .message-pulse {
    position: absolute;
    top: -10px; /* Adjust position as needed */
    left: -10px; /* Adjust position as needed */
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #0084ff; /* Adjust color as needed */
    opacity: 0.7;
    animation: pulse 1.5s infinite alternate; /* Add pulsating animation */
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1.2);
    }
  }
  